div{text-align: center;}
       #imgLogo{
          display:flex;
          justify-content: center;
          align-items: center; 
       } 
       #nav{
          list-style: none; 
          height: 40px;
          padding: 5px 1px;
          margin: 0px 40px 20px 40px;
          background-color: #66b8e1;
       }
       #nav li {
          float:left;
          position: relative;
          margin: 5px 30px;
          padding: 0;
       }
       #nav li a{
           display: block;
           font-family: "고딕체";
           font-weight: bold;
           font-size: 17px;
           padding: 7px 8px;
           margin: 0;
           color: white;
           text-decoration: none ;
           text-shadow: 0 1px 1px rgba(0,0,0.2);

       }
       #nav li:hover > a {
          color:black;
          margin:0;
          padding:5px;
       }
     #content li{
        display: inline;
        margin-left:0px;
     }
      #footerNav {
         list-style: none;
         height:40px;
         padding: 5px 1px;
         margin: 0px 40px 20px 40px;
      }
      #footerNav li {
         float:left;
         position: relative;
         margin: 5px 50px;
         padding: 0;
      }
      #footerNav li a{
         display: block;
         font-family: "고딕체";
         font-weight: bold;
         font-size: 20px;
         padding: 5px 6px;
         margin: 0;
         color: black;
         text-decoration: none;
      }
     #footer{
        margin-top: 450px;
     }
     #page{width: 820px; margin: 0px auto;}